.cart-item{
	position: relative;
	text-align: left;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	height: 90px;
	padding: 5px 10px;
	&__image{
		height: 100%;
		display: flex;
		justify-content: center;
		flex-direction: column;
		width: 107px;
		overflow: hidden;
		img{
			width: 100%;
			height: auto;
		}
	}
	&__content{
		display: flex;
		flex-flow: column nowrap;
		overflow: hidden;
		font-weight: 700;
		width: 170px;
	}
	&__price{
		font-weight: 700;
	}
	&__remove{
		width: 34px;
		height: 34px;
		justify-content: center;
		padding: 5px;
		background-color: $base-color-lighgray;
		border-radius: 50%;
		cursor: pointer;
		transition: background-color .4s;
		display: flex;
		flex-direction: column;
		justify-content: center;
		.fa{
			text-align: center;
			color: $base-color-blue-dark;
		}
	}
}