.shopping-cart{
	&__icon, &__wrapper{
		position: fixed;
		bottom: 20px;
		right: 2vw;
	}
	&__icon{
		z-index: 10;
		height: 64px;
		width: 64px;
		border-radius: 6px;
		box-shadow: 0 4px 30px rgba(0,0,0,.27);
		cursor: pointer;
		background: $base-color-white;
		user-select: none;
		display: flex;
		flex-direction: column;
		justify-content: center;
		.fa{
			width: 48px;
			min-width: 48px;
			height: 48px;
			min-height: 48px;
			font-size: 48px;
			text-align: center;
			margin: 0 auto;
			color: $base-color-green;
		}
	}
	&__wrapper{
		width: 450px;
		height: 350px;
	}
	&__content{
		height: 100%;
	}
}