.shopping-cart{
	display: flex;
	flex-direction: row-reverse;
	&__icon{
		position: fixed;
		bottom: 20px;
		right: 2vw;
		height: 72px;
		width: 72px;
		border-radius: 6px;
		box-shadow: 0 4px 30px rgba(0,0,0,.27);
		display: -ms-flexbox;
		display: flex;
		cursor: pointer;
		background: #fff;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		display: flex;
		flex-direction: column;
		justify-content: center;
		.fa{
			width: 48px;
			min-width: 48px;
			height: 48px;
			min-height: 48px;
			font-size: 48px;
			text-align: center;
			margin: 0 auto;
			color: $base-color-green;
		}
	}
}